<a href="{{path('free_item_list_all')}}">All Freebies</a>

{% if app.session.get('location') %}

    {% for category in categories %}

        <a href="{{path('free_item_list_category', {'categoryname':category.name|lower|slugify, 'id':category.id})}}">{{category.name}}</a>
        
    {% endfor %}

{% else %}
    
    {% for category in categories %}

        <a href="{{path('free_item_list_category', {'categoryname':category.name|lower|slugify, 'id':category.id})}}">{{category.name}} ({{category.freeItems|length}})</a>
        
    {% endfor %}

{% endif %}