{% extends 'admin/base.html.twig' %}

{% block header %}

<script data-require="jquery@*" data-semver="3.2.1" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
<script src="https://getaddress-cdn.azureedge.net/scripts/jquery.getAddress-3.0.4.min.js"></script>

{% endblock %}

{% block main %}

    <main style="grid-row: 1 / 4;">

        {{ form_start(form, {'attr':{'novalidate':'novalidate',  'class': 'post-free-item-container'}}) }}

            <div class="all-categories-nav">

                <a href="{{path('admin_main_page')}}"><i class="fas fa-arrow-circle-left"></i> Back to profile</a>

            </div>

            <h2>My Contact Details</h2>

            <label><h3>Email</h3></label>
            {{ form_widget(form.email, {'attr': {'class': 'post-free-item-field', 'autocomplete':'new-password'}}) }}
            {{form_errors(form.email)}}

            <label><h3>Name</h3></label>
            {{ form_widget(form.name, {'attr': {'class': 'post-free-item-field', 'autocomplete':'new-password'}}) }}
            {{form_errors(form.name)}}

            <label><h3>Last Name</h3></label>
            {{ form_widget(form.last_name, {'attr': {'class': 'post-free-item-field', 'autocomplete':'new-password'}}) }}
            {{form_errors(form.last_name)}}

            <label><h3>Contact Number</h3></label>
            {{ form_widget(form.number, {'attr': {'class': 'post-free-item-field', 'autocomplete':'new-password'}}) }}
            {{form_errors(form.number)}}


            {% if app.user.addressTown %}
            
                <div class="address-lookup">
                    <a id="change_address_button" class="post-free-item-button-address-lookup-change" onclick="changeAddress()">Change address</a>
                    <div id="postcode_lookup" placeholder="postcode"></div>
                </div>

                {% else %}
                    
                <div class="address-lookup">
                    <div id="postcode_lookup" style="display: grid;" placeholder="postcode"></div>
                </div>

            {% endif %}

            <label><h3>First Address Line</h3></label>
            {{ form_widget(form.address_line_1, {'attr': {'class': 'post-free-item-field', 'readonly': 'true'}}) }}
            {{form_errors(form.address_line_1)}}

            <label><h3>Second Address Line</h3></label>
            {{ form_widget(form.address_line_2, {'attr': {'class': 'post-free-item-field'}}) }}
            {{form_errors(form.address_line_2)}}

            <label><h3>Third Address Line</h3></label>
            {{ form_widget(form.address_line_3, {'attr': {'class': 'post-free-item-field'}}) }}
            {{form_errors(form.address_line_3)}}

            <label><h3>Town</h3></label>
            {{ form_widget(form.address_town, {'attr': {'class': 'post-free-item-field', 'readonly': 'true'}}) }}
            {{form_errors(form.address_town)}}

            <label><h3>County</h3></label>
            {{ form_widget(form.address_county, {'attr': {'class': 'post-free-item-field', 'readonly': 'true'}}) }}
            {{form_errors(form.address_county)}}

            <label><h3>Postcode</h3></label>
            {{ form_widget(form.address_post_code, {'attr': {'class': 'post-free-item-field', 'readonly': 'true'}}) }}
            {{form_errors(form.address_post_code)}}

            {{ form_widget(form.submitChanges, {'attr': {'class': 'post-free-item-button'}}) }}

        {{ form_end(form) }}

    </main>

{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}

<script>
    
    function changeAddress() {

        document.getElementById("change_address_button").style.display = "none";
        document.getElementById("postcode_lookup").style.display = "grid";

    }

</script>

<script>
$('#postcode_lookup').getAddress({
    api_key: 'FPCZ2OCoNEGLh7dM_f-c1Q27402', 
    output_fields:{
        line_1: '#edit_user_details_address_line_1',
        line_2: '#edit_user_details_address_line_2',
        line_3: '#edit_user_details_address_line_3',
        post_town: '#edit_user_details_address_town',
        county: '#edit_user_details_address_county',
        postcode: '#edit_user_details_address_post_code',
        latitude: '#latitude',
        longitude:'#longitude'
    }
});


</script>

{% endblock %}