{% extends 'admin/base.html.twig' %}

{% block main %}

    <main>
    
        {{ form_start(form, {'attr':{'class': 'post-free-item-container'}}) }}

            <h2>Free Item Listing</h2>

            {{ form_widget(form.title, {'attr': {'class': 'post-free-item-field', 'placeholder': 'Title'}}) }}
            {{form_errors(form.title)}}

            {{ form_widget(form.description, {'attr': {'class': 'post-free-item-field', 'cols': '30', 'rows': '10', 'placeholder': 'Description'}}) }}
            {{form_errors(form.description)}}

            {{ form_widget(form.category, {'attr': {'class': 'post-free-item-field'}}) }}
            {{form_errors(form.category)}}

            {{ form_widget(form.location, {'attr': {'class': 'post-free-item-field', 'placeholder': 'Location'}}) }}
            {{form_errors(form.location)}}

            {{ form_widget(form.addPost, {'attr': {'class': 'post-free-item-field'}}) }}

        {{ form_end(form) }}
    
    </main>

{% endblock %}