{% extends 'admin/base.html.twig' %}

{% block header %}
{% endblock %}

{% block main %}

    <main style="grid-row: 1 / 4; place-self: center center;">

        <div class="all-categories-nav">

            <a href="{{path('main_page')}}"><i class="fas fa-arrow-circle-left"></i> Back to All Free Items</a>

        </div>
    
        {{ form_start(form, {'attr':{'class': 'post-free-item-container'}}) }}

            <h2>Free Item Listing</h2>

            {{ form_widget(form.title, {'attr': {'class': 'post-free-item-field', 'placeholder': 'Title'}}) }}
            {{form_errors(form.title)}}

            {{ form_widget(form.description, {'attr': {'class': 'post-free-item-field', 'cols': '30', 'rows': '10', 'placeholder': 'Description'}}) }}
            {{form_errors(form.description)}}

            <div class="post-free-item-pic-upload-container">

                {{ form_row(form.picture01, {'attr': {'class': 'post-free-item-pic-upload'}}) }}
                {{form_errors(form.picture01)}}

                {{ form_row(form.picture02, {'attr': {'class': 'post-free-item-pic-upload'}}) }}
                {{form_errors(form.picture02)}}

                {{ form_row(form.picture03, {'attr': {'class': 'post-free-item-pic-upload'}}) }}
                {{form_errors(form.picture03)}}

                {{ form_row(form.picture04, {'attr': {'class': 'post-free-item-pic-upload'}}) }}
                {{form_errors(form.picture04)}}

                {{ form_row(form.picture05, {'attr': {'class': 'post-free-item-pic-upload'}}) }}
                {{form_errors(form.picture05)}}

                {{ form_row(form.picture06, {'attr': {'class': 'post-free-item-pic-upload'}}) }}
                {{form_errors(form.picture06)}}

            </div>

            {{ form_widget(form.category, {'attr': {'class': 'post-free-item-field'}}) }}
            {{form_errors(form.category)}}

            {{ form_widget(form.location, {'attr': {'class': 'post-free-item-field', 'placeholder': 'Location'}}) }}
            {{form_errors(form.location)}}

            {{ form_widget(form.addPost, {'attr': {'class': 'post-free-item-field'}}) }}

        {{ form_end(form) }}
    
    </main>

{% endblock %}

{% block footer %}
{% endblock %}