{% extends 'admin/base.html.twig' %}

{% block header %}
{% endblock %}

{% block main %}

    <main style="grid-row: 1 / 4;">

        <div class="all-categories-nav">

            <a href="{{path('user_messages', {'id':app.user.id})}}"><i class="fas fa-arrow-circle-left"></i> Back to all messages</a>

        </div>


            <a href="{{path('free_item_single', {'id':conversation.freeItem.id})}}" class="user-messages-header-container">
            
                <h2>{{conversation.freeItem.title}}</h2>

                {% for freeItemPicture in conversation.freeItem.freeItemPictures|slice(0, 1) %}

                    <img src="{{asset('assets/images/free-item-images/' ~ freeItemPicture.name)}}">                 

                {% endfor %}
            
            </a>


            {% for conversationMessage in conversation.conversationMessages|slice(1) %}
                
                    {% if app.user.id == conversationMessage.user.id %}

                        <div class="user-message-container">                    

                            <h4>You:</h4>
                            <p>{{conversationMessage.message}}</p>
                            <h6>{{conversationMessage.date|date('D d/m/y')}} @ {{conversationMessage.time|date('H')}}:{{conversationMessage.time|date('i')}}</h6>

                        </div>

                    {% else %}

                        <div class="not-user-message-container">    
                            <h4>{{conversationMessage.user.name}}:</h4>                
                            <p>{{conversationMessage.message}}</p>
                            <h6>{{conversationMessage.date|date('D d/m/y')}} @ {{conversationMessage.time|date('H')}}:{{conversationMessage.time|date('i')}}</h6>
                        </div>

                    {% endif %} 
                
            {% endfor %}

            {{ form_start(form, {'attr':{'class': 'send-free-item-message', 'style': 'place-self: end center; margin-bottom: 10px;'}}) }}

                {{form_widget(form.Message, {'attr': {'placeholder': 'Enter new message here?', 'autocomplete': 'off'}}) }}
                {{form_errors(form.Message)}}
                
                <button class="send-free-item-message-button"><i class="fas fa-paper-plane fa-2x"></i></button>
                
            {{ form_end(form) }}


    </main>

{% endblock %}

{% block footer %}
{% endblock %}