{% extends 'admin/base.html.twig' %}

{% block header %}
{% endblock %}

{% block main %}

    <main style="grid-row: 1 / 4; place-self: start center">

        <div class="all-categories-nav">

            <a href="{{path('admin_main_page')}}"><i class="fas fa-arrow-circle-left"></i> Back to profile</a>

        </div>

        <h2>My Messages</h2>

        {% for conversation in conversations %}

            <a class="user-conversation-container" href="{{path('user_conversation', {'id':conversation.conversation.id})}}">

                <div class="user-conversation-content-container">

                    <h4>{{conversation.conversation.freeItem.title}}</h4>
                    <h4>{{conversation.message|slice(0, 20)}}. . . . .</h4>
                    <h5>Date: {{conversation.date|date('D d/m/y')}} @ {{conversation.time|date('H')}}:{{conversation.time|date('i')}}</h5>

                </div>
                
                <div class="user-conversation-image-container">

                    {% for freeItemPicture in conversation.conversation.freeItem.freeItemPictures|slice(0, 1) %}

                        <img class="user-conversation-image" src="{{asset('assets/images/free-item-images/' ~ freeItemPicture.name)}}">                 

                    {% endfor %}
                
                </div>    

            </a>

        {% endfor %}

    </main>

{% endblock %}

{% block footer %}
{% endblock %}