{% extends 'base.html.twig' %}

{% block main %}

    <main>
            
        <div class="all-categories-nav">

            <a href="{{path('main_page')}}"><i class="fas fa-arrow-circle-left"></i> Back to All Free Items</a>

        </div>

        {% if app.user %}

            {% if is_granted('ROLE_ADMIN') or freeItem.user.id == app.user.id %}

                <div class="edit-delete-controls">

                    <a href="{{path('edit_free_item', {'id':freeItem.id})}}" class="edit">
                    
                        Edit <i class="far fa-edit edit"></i>

                    </a>

                    <a href="{{path('delete_free_item', {'id':freeItem.id})}}" onclick="return confirm('Are you sure you want to delete this Freebie?')" class="delete">
                
                        Delete <i class="fas fa-minus-circle delete"></i>

                    </a>

                </div>

            {% else %}

            {# No admin options if the user is not admin or the original poster #}

            {% endif %}

        {% endif %}

        {% for message in app.flashes('free_item_updated') %}

            <div class="flash-message-success">
                {{ message }}
            </div>

        {% endfor %}
        
        <div class="free-item-single-container">

                <h1 class="free-item-single-title">{{freeItem.title}}</h1>
            
                <!-- Slideshow container -->
                <div class="slideshow-container">

                    {% if freeItem.freeItemPictures|length < 1 %}
                    
                        <img class="free-item-single-image" src="" alt="No Images for this Free Item :(">
                    
                    {% else %}
                        
                        {% for freeItemPicture in freeItem.freeItemPictures %}
                            
                            <div class="mySlides fade">

                                <img id="myImg" class="myImages free-item-single-image" src="{{asset('assets/images/free-item-images/' ~ freeItemPicture.name)}}">

                            </div>

                        {% endfor %}

                        {% if freeItem.freeItemPictures|length > 1 %}
                            
                            <!-- Next and previous buttons -->
                            <div class="image-control-container">
                                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                            </div>

                        {% endif %}

                    {% endif %}

                </div>

                {# Modal for image enlargement #}

                        <div id="myModal" class="modal">

                                {% if freeItem.freeItemPictures|length > 1 %}

                                    <div class="modal-image-control-container">  

                                        <a class="prev" onclick="plusEnlargedSlides(-1)">&#10094;</a>
                                        <i class="close fas fa-times fa-2x"></i>
                                        <a class="next" onclick="plusEnlargedSlides(1)">&#10095;</a>

                                    </div>

                                {% else %}

                                        <i class="close fas fa-times fa-2x"></i>

                                {% endif %}

                                {% if freeItem.freeItemPictures|length < 1 %}
                        
                                    <img class="free-item-single-image" src="" alt="No Images for this Free Item :(">
                                
                                {% else %}
                                    
                                    {% for freeItemPicture in freeItem.freeItemPictures %}
                                        
                                        <div class="myEnlargedSlides">

                                            <img class="myEnlargedImages modal-content" id="myImg" src="{{asset('assets/images/free-item-images/' ~ freeItemPicture.name)}}">

                                        </div>

                                    {% endfor %}

                                {% endif %}

                        </div>
        
            <div class="free-item-single-description">{{freeItem.description|raw}}</div>
            <div class="free-item-single-location"><i class="fas fa-map-marker-alt"></i><h3>{{freeItem.location}}</h3></div>
            <div class="sharethis-inline-share-buttons" style="z-index: 0;"></div>
            <a href="{{path('free_item_list_user', {'id':freeItem.user.id})}}"><h4 class="free-item-single-date">Listed By: {{freeItem.user.name}} on {{freeItem.date|date('D d/m/y')}} @ {{freeItem.time|date('H')}}:{{freeItem.time|date('i')}}</h4></a>
            
            {% if not app.user %}

                <h3 class="login-signup"><a href="{{path('login')}}">Login</a> or <a href="{{path('sign_up')}}">Sign Up</a> to contact {{freeItem.user.name}}</h3>    

            {% else %}

                {% if freeItem.user.id == app.user.id %}
                
                {% else %}
                    <a class="free-item-single-user">Contact {{freeItem.user.name}}</a>
                    <input class="post-free-item-field" value="Hi, when can I collect?">

                {% endif %}
                
            {% endif %}

        </div>
    
    </main>

{% endblock %}

{% block customJavascripts %}

<script>

// Single Item Slide Show container

{% if freeItem.freeItemPictures|length > 0 %}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }

  slides[slideIndex-1].style.display = "grid";
}

// Modal for larger enlarged images

// create references to the modal...
var modal = document.getElementById('myModal');
// to all images -- note I'm using a class!
var images = document.getElementsByClassName('myImages');

// Go through all of the images with our custom class
for (var i = 0; i < images.length; i++) {
  var img = images[i];
  // and attach our click listener for this image.
  img.onclick = function(evt) {
    modal.style.display = "grid";
  }
}

var span = document.getElementsByClassName("close")[0];

span.onclick = function() {
  modal.style.display = "none";
}

// Single Item Modal Slide Show container

var slideEnlargedIndex = 1;
showEnlargedSlides(slideEnlargedIndex);

function plusEnlargedSlides(n) {
  showEnlargedSlides(slideEnlargedIndex += n);
}

function currentEnlargedSlide(n) {
  showEnlargedSlides(slideEnlargedIndex = n);
}

function showEnlargedSlides(n) {
  var i;
  var slides = document.getElementsByClassName("myEnlargedSlides");
  if (n > slides.length) {slideEnlargedIndex = 1}
  if (n < 1) {slideEnlargedIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }

  slides[slideEnlargedIndex-1].style.display = "grid";
}

{% endif %}

</script>

{% endblock %}

