{% extends 'base.html.twig' %}

{% block main %}

    <main>

        {% if app.session.get('location') %}

            <h2> All Freebies in {{app.session.get('location')}}</h2>

        {% else %}
            
            <h2>All Freebies in UK</h2>

        {% endif %}

        {% for freeItem in freeItems %}

            <a href="{{path('free_item_single', {'id':freeItem.id})}}" class="free-item-container">

                    <div class="free-item-info">
                        
                        {% for freeItemPicture in freeItem.freeItemPictures|slice(0, 1) %}

                            <img class="free-item-info-image" src="{{asset('assets/images/free-item-images/' ~ freeItemPicture.name)}}" alt="No Image :(">
                            
                        {% endfor %}
                        
                        <div class="free-item-info-upload">

                            <h6 class="free-item-info-upload-user">{{freeItem.time|date('H')}} : {{freeItem.time|date('i')}}</h6>
                            <h6 class="free-item-info-upload-date">{{freeItem.date|date('D d/m/y')}}</h6>

                        </div>

                    </div>

                    <div class="free-item-details">

                        <h3 class="free-item-details-title">{{freeItem.title}}</h3>
                        <p class="free-item-details-description">{{freeItem.category.name}}</p>
                        <h4 class="free-item-details-location"><i class="fas fa-map-marker-alt"></i> {{freeItem.location}}</h4>

                    </div>

                </a>
            
        {% endfor %}

        <div class="user-review">

            <h3>Susan from Bristol says:</h3>
            <p>"I am so happy to have found 32collect. I absolutely hate waste. With this site I have managed to save many things from land-fill and saved money in the process on things I would otherwsie have had to buy"</p>
            <p>"Thank you 32collect"</p>

        </div>

        <div class="main-page-section">

            <img width="50%" src="{{asset('assets/images/site-images/rrr.png')}}" alt="">
            <img width="95%" src="{{asset('assets/images/site-images/no-landfill.png')}}" alt="">
            
        </div>

    </main>

{% endblock %}