{% extends 'base.html.twig' %}

{% block main %}

{% if newUser %}

        <div id="welcome-modal-container">

            <div class="welcome-modal-content">

                <h1>Welcome to</h1>
                <br>
                <a class="nav-logo"><img style="width: 35%; border-radius: 5px;" src="assets/images/site-images/32collect-logo.png" alt=""></a>
                <br>
                <h2>Avoid landfills, reuse as much as possible.</h2>
                <br>
                <h2>"One person's rubbish is another person's treasure"</h2>
                <br>
                <h2>Help by listing your freebies!</h2>
                <br>
                <h2>Cookies are used on this site!</h2>
                <br>
                <a class="post-free-item-button" style="padding: 10px; font-size: 2.5rem;" onclick="acceptCookies()">Accept</a>

            </div>

        </div>

        {% endif %}

    <main>

        <h2>Latest Freebies</h2>

        {% for freeItem in freeItems %}

            <a href="{{path('free_item_single', {'id':freeItem.id})}}" class="free-item-container">

                    <div class="free-item-info">
                        
                        {% for freeItemPicture in freeItem.freeItemPictures|slice(0, 1) %}

                            <img class="free-item-info-image" src="{{asset('assets/images/free-item-images/' ~ freeItemPicture.name)}}" alt="No Image :(">
                            
                        {% endfor %}
                        
                        <div class="free-item-info-upload">

                            <h6 class="free-item-info-upload-user">{{freeItem.time|date('H')}} : {{freeItem.time|date('i')}}</h6>
                            <h6 class="free-item-info-upload-date">{{freeItem.date|date('D d/m/y')}}</h6>

                        </div>

                    </div>

                    <div class="free-item-details">

                        <h3 class="free-item-details-title">{{freeItem.title}}</h3>
                        <p class="free-item-details-description">{{freeItem.category.name}}</p>
                        <h4 class="free-item-details-location"><i class="fas fa-map-marker-alt"></i> {{freeItem.location}}</h4>

                    </div>

                </a>
            
        {% endfor %}

         <div class="user-review">

            <h3>Susan from Bristol says:</h3>
            <p>"I am so happy to have found 32collect. I absolutely hate waste. With this site I have managed to save many things from land-fill and saved money in the process on things I would otherwsie have had to buy"</p>
            <p>"Thank you 32collect"</p>

        </div>

        <div class="main-page-section">

            <img width="50%" src="{{asset('assets/images/site-images/rrr.png')}}" alt="">
            <img width="95%" src="{{asset('assets/images/site-images/no-landfill.png')}}" alt="">
            
        </div>

    </main>

{% endblock %}

{% block customJavascripts %}

{% if newUser %}

    <script>

    document.getElementById("welcome-modal-container").style.display = "grid";

    function acceptCookies()
    {
        document.getElementById("welcome-modal-container").style.display = "none";
    }

    </script>

{% endif %}

{% endblock %}