{% extends 'base.html.twig' %}



{% block main %}

    <main>
            
            <div class="all-categories-nav">

                <a href="{{path('main_page')}}"><i class="fas fa-arrow-circle-left"></i> Go Back</a>

            </div>
    
        {% if freeItems|length < 1 %}

            <h2>Sorry No results for "{{searchTerm}}"</h2>

        {% else %}

            {% if freeItems|length == 1 %}
            
                <h2>{{freeItems|length}} result for "{{searchTerm}}"</h2>

            {% else %}
                
                <h2>{{freeItems|length}} results for "{{searchTerm}}"</h2>
            
            {% endif %}
            

            {% for freeItem in freeItems %}

            <div class="free-item-container">

                <div class="free-item-info">
                    
                    <img class="free-item-info-image" src="" alt="">
                    
                    <div class="free-item-info-upload">

                        <h6 class="free-item-info-upload-user">{{freeItem.time|date('H')}} : {{freeItem.time|date('i')}}</h6>
                        <h6 class="free-item-info-upload-date">{{freeItem.date|date('D d/m/y')}}</h6>

                    </div>

                </div>

                <div class="free-item-details">

                    <h3 class="free-item-details-title">{{freeItem.title}}</h3>
                    <p class="free-item-details-description">{{freeItem.description}}</p>
                    <h4 class="free-item-details-location"><i class="fas fa-map-marker-alt"></i> {{freeItem.location}}</h4>

                </div>

            </div>

        {% endfor %}

        {% endif %}
    
    </main>

{% endblock %}

