{% extends 'base.html.twig' %}



{% block main %}

    <main>
            
            <div class="all-categories-nav">

                <a href="{{path('main_page')}}"><i class="fas fa-arrow-circle-left"></i> Go Back</a>

            </div>
    
        {% if freeItems|length < 1 %}

            <h2>Sorry No results for "{{searchTerm}}"</h2>

        {% else %}

            {% if freeItems|length == 1 %}
            
                <h2>{{freeItems|length}} result for "{{searchTerm}}"</h2>

            {% else %}
                
                <h2>{{freeItems|length}} results for "{{searchTerm}}"</h2>
            
            {% endif %}
            
            {% include 'front/includes/_free-item-snippets.html.twig' %}

        {% endif %}
    
    </main>

{% endblock %}

