{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block main %}

    <main style="grid-row: 1 / 4; place-self: start center; margin-top: 10vh;">

        <a class="nav-logo" href="{{path('main_page')}}"><img style="width: 25%; border-radius: 5px;" src="assets/images/site-images/32collect-logo.png" alt=""></a>

        {{ form_start(form, {'attr':{'class': 'post-free-item-container'}}) }}

            <h3>Sign Up Form</h3>

            <br>

            {{ form_widget(form.name, {'attr': {'class': 'post-free-item-field-sign-up', 'placeholder': 'Name'}}) }}
            {{form_errors(form.name)}}

            <br>

            {{ form_widget(form.last_name, {'attr': {'class': 'post-free-item-field-sign-up', 'placeholder': 'Last Name'}}) }}
            {{form_errors(form.last_name)}}

            <br>

            {{ form_widget(form.email, {'attr': {'class': 'post-free-item-field-sign-up', 'placeholder': 'Email'}}) }}
            {{form_errors(form.email)}}

            <br>

            {{ form_widget(form.password.first, {'attr': {'class': 'post-free-item-field-sign-up', 'placeholder': 'Password'}}) }}
            {{form_errors(form.password.first)}}

            <br>

            {{ form_widget(form.password.second, {'attr': {'class': 'post-free-item-field-sign-up', 'placeholder': 'Confirm Password'}}) }}
            {{form_errors(form.password.second)}}

            {{ form_widget(form.sign_up, {'attr': {'class': 'post-free-item-button'}}) }}

        {{ form_end(form) }}
    
    </main>

{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
<script>

    var password = document.getElementById("user_password_first"), confirm_password = document.getElementById("user_password_second");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}