<img src="{{ email.image('@images/32collect-logo.png') }}" alt="Logo" width="10%">
<h2>Hi {{name}},</h2>
<h3>A reply regarding your {{freeItemTitle}} is below:</h3>
<br>
<p>{{messagingUserName}} says</p>
<p>"{{message}}"</p>
<br>
<p>Sign in to your account to respond to {{messagingUserName}}</p>
<br>
<p>Please note for security, no other information is displayed within this email.</p>
<br>
<br>
<p>Stay safe online.</p>
<p>Please do not reply to this email. You can only reply to the user from </p>