<!DOCTYPE html>
<html lang="en">
    
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        {# Local css styles #}
        <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">

        {# Google Font #}
        <link href="{{asset('https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap')}}" rel="stylesheet">

        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{asset('https://use.fontawesome.com/releases/v5.8.1/css/all.css')}}" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <title>{% block title %}32Collect{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
    
    </head>
    
    <body>

        {% block header %}
            
            <header>

            {# top header section #}

                <div class="navigation-container">

                    <i onclick="openBurgerMenu()" id="burger-menu-icon" class="fas fa-bars fa-2x"></i>

                    <a href="{{path('post_free_item')}}" class="post-free-item-main-button">post free item</a>

                    <a class="nav-logo" href="{{path('main_page')}}"><img width="50%" src="{{asset('assets/images/site-images/32collect-logo.png')}}" alt=""></a>

                    <div id="burger-menu-overlay">

                        <div class="burger-menu-headers">

                            <div onclick="closeBurgerMenu()">
                                <h4>Close Menu</h4>
                                <i class="fas fa-times-circle fa-2x"></i>
                            </div>

                        </div>

                        <div class="burger-menu-links">
                        
                        {% if not app.user %}

                            <a class="nav-option-container" href="{{path('login')}}"><i class="fas fa-sign-in-alt"></i><h3> Login</h3></a>
                            <a class="nav-option-container" href="{{path('sign_up')}}"><i class="fas fa-user-plus"></i><h3> Sign Up</h3></a>

                        {% else %}
                            <a class="nav-option-container" href="{{path('admin_main_page')}}"><i class="fas fa-user"></i><h3> My Profile</h3></a>
                            <a class="nav-option-container" href="{{path('logout')}}"><i class="fas fa-sign-out-alt"></i><h3> Logout</h3></a>

                        {% endif %}

                            <a class="nav-option-container" href=""><i class="fas fa-recycle"></i><h3> 32collect stories</h3></a>
                            <a class="nav-option-container" href=""><i class="far fa-envelope"></i><h3> Contact</h3></a>

                        </div>

                        <div class="burger-menu-footers">

                            <a href=""><i class="fab fa-paypal"></i> Donate</a>

                        </div>

                    </div>

                </div>

                {# lower header section #}

                <div class="find-items-container">
                
                    <div class="find-items-categories">

                        <a href="{{path('all_categories')}}">Categories</a>
                            
                    </div>
                    
                    <form method="GET" class="find-items-search" action="{{path('search_results')}}">

                        <input name="search" type="text">
                        <button class="find-items-search-bar-button"><i class="fas fa-search fa-2x"></i></button>

                    </form>

                </div>

            </header>
        
        {% endblock %}

        {% block main %}{% endblock %}
        
        {% block footer %}
            
            <footer>

                <i class="far fa-envelope fa-2x"></i>
                <i class="fab fa-facebook-f fa-2x"></i>
                <i class="fab fa-twitter fa-2x"></i>

            </footer>

        {% endblock %}

        <script src="{{asset('assets/js/script.js')}}"></script>
        
        {% block javascripts %}{% endblock %}

    </body>

</html>
